<div class="menu">
  <div class="size margin menu--content container align-items-center justify-content-between">

    <div class="" data-aos="fade-right" data-aos-delay="" data-aos-offset="0">
      <span><a href="{{ site.baseurl }}/"> {{ site.title }}</a></span>
    </div>

    
      <div class="container align-items-baseline back-to-site">
        <div class="">
          <span class="feather-icon icon-external-link"></span>
        </div>
        <div class="back-to-site-text">
          Projects
        </div>
        
        <div class="back-to-site-text">
          Dictionary
        </div>
        
        <div class="back-to-site-text">
          Tools
        </div>
        
        <div class="back-to-site-text">
          Research
        </div>
        
        <div class="back-to-site-text">
          About
        </div>
      </div>
    </a>
    <!-- <nav class="masthead-nav">
      {% for page in site.pages %}
      {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}">
        {{ page.title }}
      </a>
      {% endif %}
      {% endfor %}
    </nav> -->
  </div>
</div>
